.custom-card {
  --background: var(--ion-card-background, var(--ion-item-background, #ffffff));
  --color: var(--ion-text-color, #333);
  --padding-start: 8px;
  --border-radius: 12px;
  

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --ripple-color: var(--ion-color-primary);

  ion-thumbnail {
    --size: auto;
    width: 80px;
    height: 40px;
    margin-right: 8px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

    h2 {
      font-weight: 700;
      font-size: 1.1rem;
      // Cor dinâmica para o título
      color: var(--ion-text-color);
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ion-badge {
      font-size: 0.7rem;
      padding: 4px 8px;
      margin-left: 10px;
    }
  }

  p {
    font-size: 0.85rem;
    color: var(--ion-color-medium);
    margin: 2px 0;
  }
}

ion-item-sliding {
  background: transparent;
  margin-bottom: 16px;

  ion-item-options {

    border-radius: 0 12px 12px 0;
    margin-right: 2px;
    height: calc(100% - 2px);
  }
}

.phone-tag {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--ion-color-primary) !important;
  font-weight: 500;
  margin-top: 6px;
}